<h2> Changed your mind? </h2>

<p>Previous tweet by: <%= @tweet.user.username %>:</p>
<p><%= @tweet.description %></p>
Edit:

<form id="newtweet" method=post action="/tweets/<%= @tweet.id %>">
	<textarea type=text name="tweet[description]" rows="4" cols="50"><%= @tweet.description %></textarea><br>
	<input type="hidden" name="_method" value="put">
	<button type=submit>Submit</button>
</form>