<h3> What are you thinking? </h3>

<p>New tweet for <%= current_user.username %>:</p>

<form id="newtweet" method=post action='/tweets'>
	<textarea type=text placeholder="Tweet must be no more than 140 characters..." name="tweet[description]" rows="4" cols="50"></textarea><br>
	<button type=submit>Submit</button>
</form>

<% if @error %>
<p><%= @error[12..-1] %></p>
<% end %>