<h2>Login below</h2>
<form method=post action=/sessions>
	<input type=text placeholder="Username" name="user[username]"><br>
	<input type=password placeholder="Password" name="user[password]"></br>
	<input type=submit value="Login">
</form>

<p> <%= @message %> </p>