<h1>Welcome to Twitter Clone v1.0</h1>

<% if logged_in? %>
	<p>You are logged in as <%= current_user.username %></p>
	
	<a href="/users/<%= current_user.id %>">View your profile</a><br>

	<form style="display:inline-block" action="/sessions/<%=current_user.id%>" method="post">
		<input type="submit" value="Logout">
	</form><br>

<% else %>
	<p>Please sign up or login below</p>
	<br>
	<form action="/users/new" method="get">
		<input type="submit" value="Sign up">
	</form>
	<br>
	<form action="/sessions/new" method="get">
		<input type="submit" value="Login">
	</form>
<% end %>

<a href='/users/index'>See all our users</a>