<h1>Welcome to Twitter Clone v1.0</h1>

<% if logged_in? %>
	
	<a href="/users/<%= current_user.id %>">View your profile</a><br>

	<a href="/tweets/new">Create a new Tweet</a>

<% else %>
	<p>Please sign up or login below</p>
	<br>
	<form action="/users/new" method="get">
		<input type="submit" value="Sign up">
	</form>
	<br>
	<form action="/sessions/new" method="get">
		<input type="submit" value="Login">
	</form>
<% end %>

<br><a href='/users/index'>See all our users</a><br>
<a href='/tweets/index'>See all tweets</a>