<h2>Edit your profle below</h2>
<form method="post" action="/users/<%= current_user.id %>">
	<input type="text" placeholder="<%= current_user.username %>" name="user[username]"><br>
	<input type=text placeholder="<%= current_user.email %>" name="user[email]"><br>
	<input type="hidden" name="_method" value="put" >
	<input type=submit value="Update">
</form>