<h3>Here is everyone on Twitter Clone</h3>

<ul style="list-style: none; margin-left: -40px">
<% @users.each do |user| %>
	<li><a href="/users/<%= user.id %>"><%= user.username %></a></li>
<% end %>
</ul>